@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

html{
  @apply bg-gradient-to-r from-teal-400 to-yellow-200
}


